strong{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.code{

}

.control{
    font-weight: 600;
}

.code-block .k, .code-block .kc, .code-block .kd, .code-block .kn, .code-block .kr, .code-block .kt {
    color: #0037b3;
    font-weight: 500
}

.code-block .na {
    color: #00f
}

.code-block .nn,.code-block .n, .code-block .nf, .code-block .o {
    color: #000
}

.code-block .s, .code-block .s1, .code-block .sc, .code-block .sd, .code-block .ss {
    color: #009c00
}

.inline-icon-16 {
    min-width: 16px;
    margin-bottom: -1px
}

.title-style{
    text-decoration: underline;
    font-family: 'Felipa','Dancing Script', cursive;
}