<!DOCTYPE html>
<!--
Website: How-to ...

Create a website illustrating how to do something. Be as creative as you'd like!

Some examples:

- How to code a website
- How to build a basic Java app
- How to renovate a room on a budget
- How to craft something
- How to avoid parking/speeding citations
- How to Photoshop something
- etc.

The site should contain:
- A navigation bar on every page
- At least 3 HTML files
- Content pages should use a variation of images, paragraphs, divs, lists, and tables.
- Bootstrap and Google Fonts
Create your site as a Spring Boot app.

-->
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Felipa" rel="stylesheet">
</head>
<body class="container home">

<div class="container-fluid">
<div class="row">
    <div class="col-xs=12">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compile">Compile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/run">Run</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>


    <div class="col-xs=1">
        <h1 class="hello-world-title">Creating, Running and Packaging Your First Java Application</h1>
        <h1>My name is Muhammad.</h1>
    </div>

    <div class="col-xs=12">
        <a href="/index2">Index 2</a>
    </div>
</div>



<h2>Creating a project</h2>
<br>
Any new development in IntelliJ IDEA starts with creating a project. So let's create one now.

<ol>
    <li>
        If no project is currently open in IntelliJ IDEA, click Create New Project on the Welcome screen. Otherwise, select File | New | Project.
        As a result, the New Project wizard opens.
    </li>
</ol>


In the left-hand pane, select Java. (We want a Java-enabled project to be created, or, to be more exact, a project with a Java module.)

Specify the JDK that you want to use in your project (the Project SDK field). Do one of the following:
Select the JDK from the list.

If the desired JDK is already available on your computer but is missing from the list, click New and, in the dialog that opens, select the JDK installation directory.

Click Download JDK.

HWJ004NewProjectJDKSet
Because our application is going to be a "plain old Java application", we don't need any additional technologies to be supported. So, don't select any of the options under Additional Libraries and Frameworks.

Click Next.

The options on the next page have to do with creating a Java class with a main() method.
Since we are going to study the very basics of IntelliJ IDEA, and do everything from scratch, we don't need these options at the moment. So, don't select any of the options.

HWJ001NewProjectFromTemplate
Click Next.

On the next page, specify the project name (e.g. HelloWorld). If necessary, change the project location suggested by IntelliJ IDEA.
HWJ002NewProjectJavaModuleProjectName
Click Finish.

Wait while IntelliJ IDEA is creating the project. When this process is complete, the structure of your new project is shown in the Project tool window.




<!-- Bootstrap JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>