<!DOCTYPE html>
<!--
Website: How-to ...
Create a website illustrating how to do something. Be as creative as you'd like!
Some examples:

- How to code a website
- How to build a basic Java app
- How to renovate a room on a budget
- How to craft something
- How to avoid parking/speeding citations
- How to Photoshop something
- etc.

The site should contain:
- A navigation bar on every page
- At least 3 HTML files
- Content pages should use a variation of images, paragraphs, divs, lists, and tables.
- Bootstrap and Google Fonts
Create your site as a Spring Boot app.

-->
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Index</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Felipa" rel="stylesheet">
</head>
<body class="container home">

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/project">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compile">Compile and Run</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/createjar">Jar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div>
        <h1 class="title-style">Creating, Running and Packaging Your First Java Application</h1>
        <p>This tutorial illustrates a Java SE application development workflow.The age-old
            <a href="/project/#writing_code">Hello, World</a> application is used as an example.
        <ul>
            <li><a href="/project#create_project">Creating a project</a></li>
            <li><a href="/project#explore_project_structure"> Exploring the project structure</a></li>
            <li><a href="/project#create_class"> Creating a package and a class</a></li>
            <li><a href="/project#writing_code"> Writing code for the HelloWorld class</a>
                <ul>
                    <li><a href="/project#use_live_template">Using a live template for the main() method</a></li>
                    <li><a href="/project#use_completion">Using code auto-completion</a></li>
                    <li><a href="/project#use_live_template_println">Using a live template for println()</a></li>
                </ul>
            </li>
            <li><a href="/compile#run_app"> Building and running the application</a></li>
            <li><a href="/compile#remarks"> Remarks: building and running applications</a></li>
            <li><a href="/compile#package">Packaging the application in a JAR</a>
                <ul>
                    <li><a href="/compile#configure_artifact">Creating an artifact configuration for the JAR</a></li>
                    <li><a href="/compile#build_artifact">Building the JAR artifact</a></li>
                </ul>
            </li>
            <li><a href="/createjar#run_jar_artifact">Running the packaged application</a>
                <ul>
                    <li><a href="/createjar#create_jar_run_config">Creating a JAR Application run configuration</a></li>
                    <li><a href="/createjar#run_jar_run_config">Executing the run configuration</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- Bootstrap JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>