<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Felipa" rel="stylesheet">
</head>
<body>
<h1>Index 2</h1>
<a href="/form">Index 2</a>
<div class="container">
    <div>


        <h2 id="create_project">
            Creating a project</h2>
        <p> Any new development in IntelliJ IDEA starts with creating a
            <a href="/img/creating-and-managing-projects.html">project</a>.
            So let's create one now. </p>
        <ol class="list _decimal">
            <li> If no project is currently open in IntelliJ IDEA, click
                <span class="control">Create New Project</span> on the Welcome screen. Otherwise, select
                <span class="control">File | New | Project</span>.
                <p> As a result, the <span class="control">New Project</span> wizard opens.
                </p>
            </li>
            <li>
                <p> In the left-hand pane, select
                <span class="control">Java</span>.
                (We want a Java-enabled project to be created, or, to be more
                exact, a project with a Java module.)
                </p>
            </li>
            <li> Specify the
                <a data-bypass="yes" href="http://en.wikipedia.org/wiki/Java_Development_Kit"
                    target="_blank"><span>JDK</span></a> that you want to use in your project (the <span
                    class="control">Project SDK</span> field). Do one of the following:
                <ul>
                    <li id="08a10ede"><p> Select the JDK from the list.</p></li>
                    <li id="cd66decb"><p> If the desired JDK is already available on your
                        computer but is missing from the list, click <span class="control">New</span> and, in
                        the dialog that opens, select the JDK installation directory.</p></li>
                    <li id="27ebbbf6"><p> Click <span class="control">Download JDK</span>.
                    </p></li>
                </ul>
                <figure><img alt="/img4NewProjectJDKSet" height="179"
                             id="5bc93d41" src="/img/HWJ004NewProjectJDKSet.png"
                             title="HWJ004NewProjectJDKSet"
                             width="580"></figure>
                <p> Because our application is going to be a "plain old Java application", we
                    don't need any additional technologies to be supported. So, don't select any of the options
                    under <span class="control">Additional Libraries and Frameworks</span>.</p>
                <p> Click <span class="control">Next</span>.</p></li>
            <li> The options on the next page have to do with creating a Java
                class with a <code class="code" data-lang="Java">main()</code> method. <p id="f20d9e41"> Since
                    we are going to study the very basics of IntelliJ IDEA, and do everything from scratch, we
                    don't need these options at the moment. So, don't select any of the options. </p>
                <figure><img alt="/img1NewProjectFromTemplate" height="149"
                             src="/img/HWJ001NewProjectFromTemplate.png"
                             title="HWJ001NewProjectFromTemplate" width="580"></figure>
                <p> Click <span class="control">Next</span>.</p></li>
            <li> On the next page, specify the project name (e.g. <code
                    class="code" data-lang="Java">HelloWorld</code>). If necessary, change the project location
                suggested by IntelliJ IDEA.
                <figure><img alt="/img2NewProjectJavaModuleProjectName"
                             height="163"
                             src="/img/HWJ002NewProjectJavaModuleProjectName.png"
                             title="HWJ002NewProjectJavaModuleProjectName" width="580"></figure>
                <p> Click <span class="control">Finish</span>.</p>
                <p> Wait while IntelliJ IDEA is creating the project. When this process is
                    complete, the structure of your new project is shown in the
                    <span class="control">Project</span> tool window.</p></li>
        </ol>
        <h2 id="explore_project_structure">
            Exploring the project structure</h2>
        <p> Let's take a quick look at the project structure.</p>
        <figure><img alt="Project Tool Window Initial State" height="326"
                     src="/img/HWJ006ProjectToolWindowInitialState.png"
                     title="HWJ006ProjectToolWindowInitialState" width="400"></figure>
        <p> There are two top-level nodes:</p>
        <ul>
            <li><p><span class="control">HelloWorld.</span>
                This node represents your Java module. The
                <code class="code" data-lang="Java">.idea</code> folder and the
                file <code class="code" data-lang="Java">HelloWorld.iml</code>
                are used to store configuration
                data for your project and module respectively. The folder
                <code class="code" data-lang="Java">src</code>
                is for your source code.</p></li>
            <li><p><span class="control">External Libraries.</span> This is a
                category that represents all the "external" resources necessary for your development work.
                Currently in this category are the <code class="code" data-lang="Java">.jar</code> files that
                make up your JDK.</p></li>
        </ul>
        <p> (For more information, see <a
                href="/img/tool-windows.html"><span>Working with Tool Windows</span></a>
            and <a href="/img/project-tool-window.html"><span>Project Tool Window</span></a>.)</p>


        <h2 id="create_class">
            Creating a package and a class</h2>
        <p> Now we are going to create a package and a class. Let the package and the class names
            be <code class="code" data-lang="Java">com.example.helloworld</code> and <code class="code"
                                                                                           data-lang="Java">HelloWorld</code>
            respectively.</p>
        <p> Though a package can be created separately, we will create both the package and the
            class at once.</p>
        <ol class="list _decimal">
            <li><p> In the <span class="control">Project</span> tool window,
                select the <code class="code" data-lang="Java">src</code> folder and press <kbd
                        class="keystroke">Alt+Insert</kbd>. (Alternatively, you can select <span
                        class="control">File | New</span>, or <span class="control">New</span> from the context
                menu for the folder <code class="code" data-lang="Java">src</code>.)</p></li>
            <li><p> In the <span class="control">New</span> menu, select <span
                    class="control">Java Class</span> (e.g. by pressing <kbd class="keystroke">Enter</kbd>).
            </p>
                <figure><img alt="Project Tool Window New Class" height="185"
                             src="/img/HWJ010ProjectToolWindowNewClass.png"
                             title="HWJ010ProjectToolWindowNewClass" width="397"></figure>
                <p></p></li>
            <li> In the <span class="control">Create New Class</span> dialog
                that opens, type <code class="code" data-lang="Java">com.example.helloworld.HelloWorld</code> in
                the <span class="control">Name</span> field. The <span class="control">Class</span> option
                selected in the <span class="control">Kind</span> list is OK for creating a class. Press <kbd
                        class="keystroke">Enter</kbd> to create the package and the class, and close the dialog.
                <figure><img alt="HWJ011CreateNewClassName" height="151"
                             src="/img/HWJ011CreateNewClassName.png"
                             title="HWJ011CreateNewClassName"
                             width="347"></figure>
                <p> The package <code class="code" data-lang="Java">com.example.helloworld</code>
                    and the class <code class="code" data-lang="Java">HelloWorld</code> are shown in the <span
                            class="control">Project</span> tool window.</p>
                <figure><img alt="HWJ011NewClassInProjectToolWindow" height="225"
                             src="/img/HWJ011NewClassInProjectToolWindow.png"
                             title="HWJ011NewClassInProjectToolWindow" width="397"></figure>
                <p> At the same time, the file <code class="code"
                                                                   data-lang="Java">HelloWorld.java</code>
                    (corresponding to the class) opens in the editor.</p>
                <figure><img alt="HWJ012NewClassInEditor" height="217"
                             src="/img/HWJ012NewClassInEditor.png"
                             title="HWJ012NewClassInEditor"
                             width="580"></figure>
            </li>
        </ol>
        <p> Note the package statement at the beginning of the file and also the class
            declaration. When creating the class, IntelliJ IDEA used a file template for a Java class. (IntelliJ
            IDEA provides a number of predefined file templates for creating various file types. For more
            information, see <a
                    href="/img/using-file-and-code-templates.html"><span>File and code templates</span></a>.)
        </p>
        <p id="dc4af962"> Also note a yellow light bulb <img alt="icons actions intentionBulb svg"
                                                             class="inline-icon-16"
                                                             src="/img/icons.actions.intentionBulb.svg@2x.png"
                                                             width="16">.
            This bulb indicates that IntelliJ IDEA has suggestions for the current context. Click the light
            bulb, or press <kbd class="keystroke">Alt+Enter</kbd> to see the suggestion list.</p>
        <figure><img alt="HWJ013IntentionActionsSuggestionList" height="280"
                     src="/img/HWJ013IntentionActionsSuggestionList.png"
                     title="IntentionActionsSuggestionList" width="580"></figure>
        <p id="3e940401"> At the moment, we are not going to perform any of the actions suggested by IntelliJ
            IDEA (such actions are called <a href="/img/intention-actions.html">intention actions</a>.)
            Note, however, that this IntelliJ IDEA feature may sometimes be very useful.</p>
        <p id="173950eb"> Finally, there are code folding markers next to the commented code fragment. Click one
            of them to collapse that fragment. (For more information, see <a
                    href="/img/using-code-editor.html#code_folding">code folding</a>.)</p>
        <figure><img alt="HWJ014CommentedCodeFolded" height="181"
                     src="/img/HWJ014CommentedCodeFolded.png"
                     title="HWJ014CommentedCodeFolded"
                     width="580"></figure>
        <h2 id="writing_code">
            Writing code for the HelloWorld class</h2>
        <p> The code in its final state (as you probably know) will look this way:</p>
        <div class="code-block"><a class="code-block__copy-button" data-clipboard-target="#_Re7VLiDc"><span
                class="code-block__copy-button-icon"></span></a>
            <div id="_Re7VLiDc"><code class="code-block__wrapper"><span class="kn" key="0">package</span> <span
                    class="nn" key="2">com.example.helloworld</span><span class="o" key="3">;</span>

                <span class="kd" key="5">public</span> <span class="kd" key="7">class</span> <span class="nc"
                                                                                                   key="9">HelloWorld</span>
                <span class="o" key="11">{</span>
                <span class="kd" key="13">public</span> <span class="kd" key="15">static</span> <span class="kt"
                                                                                                      key="17">void</span>
                <span class="nf" key="19">main</span><span class="o" key="20">(</span><span class="n"
                                                                                            key="21">String</span><span
                        class="o" key="22">[]</span> <span class="n" key="24">args</span><span class="o"
                                                                                               key="25">)</span>
                <span class="o" key="27">{</span>
                <span class="n" key="29">System</span><span class="o" key="30">.</span><span class="na"
                                                                                             key="31">out</span><span
                        class="o" key="32">.</span><span class="na" key="33">println</span><span class="o"
                                                                                                 key="34">(</span><span
                        class="s" key="35">"Hello, World!"</span><span class="o" key="36">);</span>
                <span class="o" key="38">}</span>
                <span class="o" key="40">}</span></code></div>
        </div>
        <p> The package statement and the class declaration are already there. Now we are going to
            add the missing couple of lines.</p>
        <p> Press <kbd class="keystroke">Shift+Enter</kbd>. (In contrast to <kbd
                class="keystroke">Enter</kbd>, <kbd class="keystroke">Shift+Enter</kbd> starts a new line
            without breaking the current one.) </p>
        <figure><img alt="HWJ015NewLine" height="206" id="fa7dc044"
                     src="/img/HWJ015NewLine.png" title="HWJ015NewLine" width="580"></figure>
        <h3 id="use_live_template">
            Using a live template for the main() method</h3>
        <p> The line</p>
        <div class="code-block"><a class="code-block__copy-button" data-clipboard-target="#iwoKxfcK5G"><span
                class="code-block__copy-button-icon"></span></a>
            <div><code class="code-block__wrapper"><span class="kd" key="0">public</span> <span
                    class="kd" key="2">static</span> <span class="kt" key="4">void</span> <span class="nf"
                                                                                                key="6">main</span><span
                    class="o" key="7">(</span><span class="n" key="8">String</span><span class="o"
                                                                                         key="9">[]</span>
                <span class="n" key="11">args</span><span class="o" key="12">)</span> <span class="o" key="14">{}</span></code>
            </div>
        </div>
        <p id="5c35a8b5"> may well be typed. However, we suggest that you use a different method. Type <code
                class="code" data-lang="Java">p</code> and press <kbd class="keystroke">Ctrl+J</kbd>. </p>
        <figure><img height="191"
                     src="/img/HWJ016psvm.png" title="HWJ016psvm" width="580"></figure>
        <p id="c89bc833"> Select <span class="control">psvm - main() method declaration</span>. (Use the <kbd
                class="keystroke">Up</kbd> and <kbd class="keystroke">Down</kbd> arrow keys for moving within
            the suggestion list, <kbd class="keystroke">Enter</kbd> for selecting a highlighted element.)</p>
        <p> Here is the result:</p>
        <figure><img alt="HWJ017MainMethodInserted" height="186"
                     id="e78cd173" src="/img/HWJ017MainMethodInserted.png"
                     title="HWJ017MainMethodInserted"
                     width="580"></figure>
        <p> IntelliJ IDEA provides code snippets called live templates.
            <code class="code" data-lang="Java">psvm</code>
            is an abbreviation for one of such templates. To insert a live template into your code, you can use
            <span class="menupath" data-skip-index="skip">Code | Insert Live Template</span> or <kbd
                    class="keystroke">Ctrl+J</kbd>. For more information, see <a
                    href="/img/using-live-templates.html"><span>Using live templates</span></a>. </p>

        <h3 id="use_completion">
            Using code auto-completion</h3>
        <p> Now, it's time to add the remaining line of code</p>
        <div class="code-block"><a class="code-block__copy-button" data-clipboard-target="#luK-ROSVNh"><span
                class="code-block__copy-button-icon"></span></a>
            <div id="luK-ROSVNh"><code class="code-block__wrapper"><span class="n" key="0">System</span><span
                    class="o" key="1">.</span><span class="na" key="2">out</span><span class="o"
                                                                                       key="3">.</span><span
                    class="na" key="4">println</span><span class="o" key="5">(</span><span class="s" key="6">"Hello, World!"</span><span
                    class="o" key="7">);</span></code></div>
        </div>
        <p> We'll do that using code auto-completion. </p>
        <p> Type <code class="code" data-lang="Java">Sy</code></p>
        <p> The code completion suggestion list is shown.</p>
        <figure><img alt="HWJ018InsertSystem" height="191" src="/img/HWJ018InsertSystem.png" title="HWJ018InsertSystem"
                     width="580">
        </figure>
        <p> Select <span class="control">System (java.lang)</span> by pressing <kbd
                class="keystroke">Enter</kbd>.</p>
        <p> Type <code class="code" data-lang="Java">.o</code> and press
            <kbd class="keystroke">Ctrl+.</kbd>.
        </p>
        <figure><img alt="HWJ020InsertOut" height="191" src="/img/HWJ020InsertOut.png"
                     title="HWJ020InsertOut" width="580">
        </figure>
        <p><code class="code" data-lang="Java">out</code> is inserted followed by a dot. (You can
            select an item in the suggestion list by pressing <kbd class="keystroke">Ctrl+.</kbd>. In that case,
            the selected item is inserted into the editor followed by a dot.)</p>
        <p> Type <code class="code" data-lang="Java">p</code> and then find and select <span
                class="control">println(String x)</span>.</p>
        <figure><img alt="HWJ022InsertPrintLn" height="191"
                     id="dac7017d" src="/img/HWJ022InsertPrintLn.png" title="HWJ022InsertPrintLn"
                     width="580">
        </figure>
        <p> IntelliJ IDEA prompts you which parameter types can be used in the current
            context.</p>
        <figure><img alt="HWJ023PrintLnInserted" height="340"
                     id="1ed6a0af" src="/img/HWJ023PrintLnInserted.png" title="HWJ023PrintLnInserted"
                     width="580"></figure>
        <p> Type <code class="code" data-lang="Java">"</code></p>
        <p> The second quotation mark is inserted automatically and the cursor is placed between
            the quotation marks. Type <code class="code" data-lang="Java">Hello, World!</code></p>
        <figure><img alt="HWJ024CodeReady" height="191"
                     id="3a7892f5" src="/img/HWJ024CodeReady.png" title="HWJ024CodeReady" width="580">
        </figure>
        <p> The code at this step is ready.</p>
        <p> (For more information, see <a
                href="/img/auto-completing-code.html"><span>Code completion</span></a>.)
        </p>
        <h3 id="use_live_template_println">
            Using a live template for println()</h3>
        <p> As a side note, we could have inserted the call to <code class="code"
                                                                                   data-lang="Java">println()</code>
            by using a live template (<code class="code" data-lang="Java">sout</code>). </p>
        <p> If you think that it's enough for live templates, proceed to <a
                href="#run_app">running the
            application</a>. Otherwise, try that now as an additional exercise. Delete</p>
        <div class="code-block"><a class="code-block__copy-button" data-clipboard-target="#tUeP-FTri-"><span
                class="code-block__copy-button-icon"></span></a>
            <div id="tUeP-FTri-"><code class="code-block__wrapper"><span class="n" key="0">System</span><span
                    class="o" key="1">.</span><span class="na" key="2">out</span><span class="o"
                                                                                       key="3">.</span><span
                    class="na" key="4">println</span><span class="o" key="5">(</span><span class="s" key="6">"Hello, World!"</span><span
                    class="o" key="7">);</span></code></div>
        </div>
        <p> Type <code class="code" data-lang="Java">s</code>, press <kbd
                class="keystroke">Ctrl+J</kbd> and select <span
                class="control">sout - Prints a string to System.out</span>.
        </p>
        <p> The line</p>
        <div class="code-block"><a class="code-block__copy-button" data-clipboard-target="#gHQ22JADjJ"><span
                class="code-block__copy-button-icon"></span></a>
            <div id="gHQ22JADjJ"><code class="code-block__wrapper"><span class="n" key="0">System</span><span
                    class="o" key="1">.</span><span class="na" key="2">out</span><span class="o"
                                                                                       key="3">.</span><span
                    class="na" key="4">println</span><span class="o" key="5">();</span></code></div>
        </div>
        <p> is added and the cursor is placed between <code class="code" data-lang="Java">(</code>
            and <code class="code" data-lang="Java">)</code>.</p>
        <p> Type <code class="code" data-lang="Java">"</code> and then type
            <code class="code" data-lang="Java">Hello, World!</code>
        </p>
        <h2 id="run_app">
            Building and running the application</h2>
        <p> Classes with a <code class="code" data-lang="Java">main()</code> method can be run
            right from the editor. To show that, there are the green arrow markers (<img
                    alt="icons toolwindows toolWindowRun svg"
                    class="inline-icon-16"
                    src="/img/icons.toolwindows.toolWindowRun.svg@2x.png"
                    width="16">)
            in the left margin.</p>
        <p> Click one of the markers and select <span
                class="control">Run 'HelloWorld.main()'</span>.</p>
        <figure><img alt="HWJ028RunHelloWorld" height="239"
                     src="/img/HWJ028RunHelloWorld.png" title="HWJ028RunHelloWorld"
                     width="580">
        </figure>
        <p> Wait while IntelliJ IDEA is compiling the class. When the compilation is complete, the
            <span class="control">Run</span> tool window opens at the bottom of the screen.</p>
        <figure><img alt="HWJ029RunToolWindow" height="131"
                     src="/img/HWJ029RunToolWindow.png" title="HWJ029RunToolWindow"
                     width="580">
        </figure>
        <p> On the first line, there is a fragment of the command that IntelliJ IDEA used to run
            the class. (Click the fragment to see the whole command line including all options and arguments.)
            The last line shows that the process has exited normally, and no infinite loops occurred. And,
            finally, you see the program output <code class="code" data-lang="Java">Hello, World!</code> between
            these lines.</p>
        <p>(For more information, see <a
                href="/img/run-tool-window.html"><span>Run Tool Window</span></a>.)
        </p>
        <h2>
            Remarks: building and running applications</h2>
        <p> Some remarks related to building and running applications in IntelliJ IDEA:</p>
        <ul>
            <li> Prior to running the class, IntelliJ IDEA has automatically
                compiled it. When necessary, you can initiate the compilation yourself. The corresponding
                options can be found in the <span class="control">Build</span> menu.
                <figure><img alt="HWJ025BuildMenu" height="208"
                             id="2f943287" src="/img/HWJ025BuildMenu.png" title="HWJ025BuildMenu"
                             width="293"></figure>
                <p id="4f02df65"> Many of these options are also available as context menu commands in the <span
                        class="control">Project</span> tool window and in the editor.</p>
                <p id="09ad8f45"> Finally, there is an icon in the upper-right part of the workspace that
                    corresponds to the <span class="control">Build Project</span> command (<img alt="build"
                                                                                                class="inline-icon-14"
                                                                                                height="14"
                                                                                                id="3992bf3b"
                                                                                                src="/img/build.png"
                                                                                                title="build"
                                                                                                width="14">).
                </p>
                <figure><img alt="HWJ025BuildIcon" height="104"
                             id="da3e8b0f" src="/img/HWJ025BuildIcon.png" title="HWJ025BuildIcon"
                             width="300"></figure>
                <p id="27f76080"> For more information, see <a
                        href="/img/build-process.html"><span>Build Process</span></a>
                    and <a href="/img/compilation-types.html"><span>Compilation Types</span></a>.</p></li>
            <li id="4a09fb32"> The options for running and debugging applications can be
                found in the <span class="control">Run</span> menu.
                <figure><img alt="HWJ030RunMenu" height="235"
                             id="3e3efbbf" src="/img/HWJ030RunMenu.png" title="HWJ030RunMenu"
                             width="349"></figure>
                <p id="3d998210"> As in the case of the build operations, the run options can also be accessed
                    from the <span class="control">Project</span> tool window and the editor, as well as by
                    means of controls in the upper-right part of the workspace. </p>
                <figure><img alt="HWJ031RunToolbarButtons" height="19"
                             id="e65c4b59" src="/img/HWJ031RunToolbarButtons.png"
                             title="HWJ031RunToolbarButtons"
                             width="197"></figure>
            </li>
            <li id="30a5db4b"> Applications in IntelliJ IDEA are run according to what is
                called run/debug configurations. Such configurations, generally, should be created prior to
                running an application. <p id="638bfb14"> When you performed the <span class="control">Run 'HelloWorld.main()'</span>
                    command, IntelliJ IDEA, first, created a run configuration and then executed it.</p>
                <p id="f87dd03b"> The name of this run configuration (HelloWorld) is now shown in the run/debug
                    configuration selector to the left of <img alt="icons toolwindows toolWindowRun svg"
                                                               class="inline-icon-16"
                                                               src="/img/icons.toolwindows.toolWindowRun.svg@2x.png"
                                                               width="16">.</p>
                <p id="174fa997"> The HelloWorld configuration now exists as a temporary configuration and, if
                    necessary, you can save it to make it permanent.</p>
                <figure><img alt="HWJ032RunConfigSelectorMenu" height="100"
                             id="ebedb1d4" src="/img/HWJ032RunConfigSelectorMenu.png"
                             title="HWJ032RunConfigSelectorMenu" width="225"></figure>
            </li>
            <li id="cacedb1d"> Run/debug configurations can do a lot more than just run
                applications. They can also build applications and perform other useful tasks. <p id="e1db2a10">
                    If you look at the settings for the HelloWorld run configuration (<span class="control">Run | Edit Configurations</span>
                    or <span class="control">Edit Configurations</span> from the run configuration selector),
                    you'll see that the <span class="control">Build</span> option is included by default in the
                    <span class="control">Before launch</span> task list. That's why IntelliJ IDEA compiled the
                    class when you performed the <span class="control">Run 'HelloWorld.main()'</span> command.
                </p>
                <figure><img alt="HWJ033RunConfigSettings" height="199"
                             id="ed8c16e5" src="/img/HWJ033RunConfigSettings.png"
                             title="HWJ033RunConfigSettings"
                             width="580"></figure>
            </li>
            <li id="f953a855"> If you look at the <span class="control">Project</span> tool
                window, you'll see that now there is the folder <code class="code" data-lang="Java">out</code>
                there. This is the project output folder. <p id="4e3c2b94"> Inside it is the module output
                    folder (<code class="code" data-lang="Java">production\HelloWorld</code>), the folder
                    structure for the package <code class="code" data-lang="Java">com.example.helloworld</code>
                    and the compiled class file <code class="code" data-lang="Java">HelloWorld.class</code>.</p>
                <figure><img alt="HWJ027HelloWorldInExplorer" height="379"
                             id="51713773" src="/img/HWJ027HelloWorldInExplorer.png"
                             title="HWJ027HelloWorldInExplorer" width="397"></figure>
                <p id="3a43d207"> For more information, see <a
                        href="/img/specifying-compilation-settings.html"><span>Specifying Compilation Settings</span></a>.
                </p></li>
        </ul>
        <h2 id="package">Packaging the application in a JAR</h2>
        <p id="deeb0758"> When happy with your application, you may want to package it in a Java archive (<a
                data-bypass="yes" href="https://en.wikipedia.org/wiki/JAR_(file_format)"
                target="_blank"><span>JAR</span></a>)
            for distribution. To do that, you should create an <a
                    href="/img/working-with-artifacts.html#artifact_def">artifact</a> configuration for
            your JAR and then build the artifact.</p>
        <h3 id="configure_artifact">Creating an artifact configuration for the JAR</h3>
        <ol class="list _decimal">
            <li id="f9135b94"><p> Select <span
                    class="control">File | Project Structure</span> to open the <span
                    class="control">Project Structure</span>
                dialog.</p></li>
            <li id="fe7be9ac"><p> Under <span class="control">Project Settings</span>, select
                <span class="control">Artifacts</span>.</p></li>
            <li id="4bd4f53d"><p> Click <img alt="icons general add svg"
                                             class="inline-icon-16"
                                             src="/img/icons.general.add.svg@2x.png"
                                             width="16">, point
                to <span class="control">JAR</span> and select <span
                        class="control">From modules with dependencies</span>.
            </p>
                <figure><img alt="HWJ041NewArtifact" height="255"
                             id="ade55e8d" src="/img/HWJ041NewArtifact.png" title="HWJ041NewArtifact"
                             width="580"></figure>
                <p></p></li>
            <li id="c6801dd5"> In the dialog that opens, specify the main application class.
                (To the right of the <span class="control">Main Class</span> field, click <img
                        alt="browseButton" class="inline-icon-15" height="15"
                        id="bfc6c633" src="/img/browseButton.png" title="browseButton" width="15"> and
                select <span
                        class="control">HelloWorld (com.example.helloworld)</span> in the dialog that opens.)
                <figure><img alt="HWJ041NewArtifactCreateJarFromModules"
                             height="337"
                             id="36ba2fbe" src="/img/HWJ041NewArtifactCreateJarFromModules.png"
                             title="HWJ041NewArtifactCreateJarFromModules" width="496"></figure>
                <p id="5ac86793"> As a result, the artifact configuration is created and its settings are shown
                    in the right-hand part of the <span class="control">Project Structure</span> dialog.</p>
                <figure><img alt="HWJ042ArtifactSettings" height="399"
                             id="673e935a" src="/img/HWJ042ArtifactSettings.png"
                             title="HWJ042ArtifactSettings"
                             width="580"></figure>
            </li>
            <li id="754b9faa"><p>Click <span class="control">OK</span>.</p></li>
        </ol>
        <h3 id="build_artifact">Building the JAR artifact</h3>
        <ol class="list _decimal">
            <li id="8cbb69ef"><p> Select <span class="control">Build | Build Artifacts</span>.
            </p>
                <figure><img alt="HWJ043BuildArtifacts" height="208"
                             id="5be2daef" src="/img/HWJ043BuildArtifacts.png"
                             title="HWJ043BuildArtifacts"
                             width="233"></figure>
                <p></p></li>
            <li id="1789f018"> Point to <span class="control">HelloWorld:jar</span> and
                select <span class="control">Build</span>. (In this particular case, <span
                        class="control">Build</span> is the default action, so you can just press <kbd
                        class="keystroke">Enter</kbd> instead.)
                <figure><img alt="HWJ044ArtifactBuild" height="137"
                             id="0fc52bb8" src="/img/HWJ044ArtifactBuild.png"
                             title="HWJ044ArtifactBuild"
                             width="189"></figure>
                <p id="b4e93a90">If you now look at the <code class="code" data-lang="Java">out/artifacts</code>
                    folder, you'll find your JAR there.</p>
                <figure><img alt="HWJ045ArtifactLocation" height="346"
                             id="a70cfed0" src="/img/HWJ045ArtifactLocation.png"
                             title="HWJ045ArtifactLocation"
                             width="397"></figure>
            </li>
        </ol>
        <h2 id="run_jar_artifact">Running the packaged application</h2>
        <p id="0f228258"> To make sure that everything is fine with the JAR, let's run it. To do that, we'll
            create a JAR Application run configuration and then execute that run configuration.</p>
        <h3 id="create_jar_run_config">Creating a JAR Application run configuration</h3>
        <p id="7478f89c"> To run Java applications packaged in JARs, IntelliJ IDEA provides the JAR Application
            run configurations. To create such a configuration:</p>
        <ol class="list _decimal">
            <li id="f6e4f239"><p> Select <span
                    class="control">Run | Edit Configurations</span>.</p></li>
            <li id="30916c96"><p> In the <span
                    class="control">Run/Debug Configurations</span> dialog that opens, click <img
                    alt="icons general add svg" class="inline-icon-16"
                    src="/img/icons.general.add.svg@2x.png"
                    width="16"> and select <span class="control">JAR Application</span>. </p>
                <figure><img alt="HWJ046NewJarAppRunConfig" height="397"
                             id="92b28711" src="/img/HWJ046NewJarAppRunConfig.png"
                             title="HWJ046NewJarAppRunConfig"
                             width="580"></figure>
                <p></p></li>
            <li id="292fcad6"> Specify the path to the JAR file. (To the right of the <span
                    class="control">Path to JAR</span> field, click <img alt="browseButton" class="inline-icon-15"
                                                                         height="15"
                                                                         id="b0809254"
                                                                         src="/img/browseButton.png"
                                                                         title="browseButton"
                                                                         width="15"> and select the
                JAR file in the dialog that opens.) <p id="392842ff"> The rest of the settings in this case
                    don't matter, however, there's one more thing that we'll do - just for convenience.</p></li>
            <li id="afc5eca8"> Under <span class="control">Before launch</span>, click <img
                    alt="icons general add svg" class="inline-icon-16"
                    src="/img/icons.general.add.svg@2x.png"
                    width="16">, select <span class="control">Build Artifacts</span> and select
                the <span class="control">HelloWorld:jar</span> artifact in the dialog that opens. <p
                        id="ff967647"> The <span class="control">Build 'HelloWorld:jar' artifact</span> task is
                    included in the <span class="control">Before launch</span> task list. So each time you
                    execute this run configuration, the artifact will be built automatically.</p>
                <figure><img alt="HWJ047JarAppRunConfigSettings" height="515"
                             id="392191f9" src="/img/HWJ047JarAppRunConfigSettings.png"
                             title="HWJ047JarAppRunConfigSettings" width="580"></figure>
            </li>
        </ol>
        <h3 id="run_jar_run_config">Executing the run configuration</h3>
        <ul>
            <li id="950a0650"> To the right of the run configuration selector, click <img
                    alt="icons toolwindows toolWindowRun svg"
                    class="inline-icon-16" src="/img/icons.toolwindows.toolWindowRun.svg@2x.png"
                    width="16">.
                <figure><img alt="HWJ048RunJarApp" height="104"
                             id="496e2132" src="/img/HWJ048RunJarApp.png" title="HWJ048RunJarApp"
                             width="313"></figure>
                <p id="b56103f6"> As before, the <span class="control">Run</span> tool window opens and the
                    application output is shown there.</p>
                <figure><img alt="HWJ049JarAppOutput" height="131"
                            src="/img/HWJ049JarAppOutput.png" width="580"></figure>
            </li>
        </ul>

        <div data-feedback-placeholder="true"></div>
        <div class="navigation-links _bottom" data-skip-index="skip"><a class="navigation-links__prev"
                                                                        href="/img/java-se.html">Java
            SE</a><a class="navigation-links__next"
                     href="/img/debugging-your-first-java-application.html">Debugging Your First Java
            Application</a></div>
    </div>
</div>
</body>
</html>