<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Felipa" rel="stylesheet">

    <title>Creating, Running and Packaging Your First Java Application - Help | IntelliJ IDEA</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs=12">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler"
                            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/project">Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/compile">Compile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/run">Run</a>
                            </li>
                        </ul>
                    </div>
                </nav><h1>Creating,Running and Packaging Your First Java Application</h1>
                <p>This tutorial illustrates a Java SE application development workflow.The age-old
                    <a href="#writing_code">Hello, World</a> application is used as an example.</p>
                <ul>
                    <li><p><a href="#create_project">Creating a project</a></p></li>
                    <li><p><a href="#explore_project_structure"> Exploring the project structure</a></p></li>
                    <li><p><a href="#create_class"> Creating a package and a class</a></p></li>
                    <li><a href="#writing_code"> Writing code for the HelloWorld class</a>
                        <ul>
                            <li><p><a href="#use_live_template">
                                Using a live template for the main() method</a></p></li>
                            <li><p><a href="#use_completion">
                                Using code auto-completion</a></p></li>
                            <li><p><a href="#use_live_template_println">
                                Using a live template for println()</a></p></li>
                        </ul>
                    </li>
                    <li><p><a href="#run_app"> Building and running the application</a></p></li>
                    <li><p><a href="#remarks"> Remarks: building and running applications</a></p></li>
                    <li><a href="#package">Packaging the application in a JAR</a>
                        <ul>
                            <li><p><a href="#configure_artifact">Creating an artifact configuration for the JAR</a></p></li>
                            <li><p><a href="#build_artifact">Building the JAR artifact</a></p></li>
                        </ul>
                    </li>
                    <li><a href="#run_jar_artifact">Running the packaged application</a>
                        <ul>
                            <li><p><a href="#create_jar_run_config">Creating
                                a JAR Application run configuration</a></p></li>
                            <li><p><a href="#run_jar_run_config">Executing
                                the run configuration</a></p></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div>

    </div>
    <h1 class="hello-world-title">Creating, Running and Packaging Your First Java Application</h1>
    <h1>My name is Muhammad.</h1>
    <a href="/index2">Index 2</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>